.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  width: 80px;
  margin-right: 12px;
}

.button {
  width: 20px;
  height: 20px;
  background-color: #F50;
  color: #FFF;
  border: none;
  padding: 2px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled {
  background-color: #FFA375;
}

.number {
  font-size: 20px;
}
